@CHARSET "UTF-8";

@media screen
{
	.container
	{
		overflow: hidden;
		max-width:100%;
		height:auto;
		position:relative;
		margin:auto;
		padding:0.2%;
	}
	.event
	{
		margin-top:5px;
		margin-left:100px;
		position:relative;
	}
	.org
	{
		margin-top:-2px;
		margin-left:150px;
		position:relative;
	}
	.Venue
	{
		margin-top:-2px;
		margin-left:100px;
		position:relative;
	}
	.Date
	{
		margin-top:-1%;
		margin-right:8%;
		position:relative;
		float:right;
	}
	.scoresheet
	{
	text-align:center;
	position:relative;
	}
	.teams
	{
		margin-top:-2px;
		margin-left:10px;
		position:relative;

	}
	.matchno
	{
		margin-top:-20px;
		float:right;
		position:relative;
	}
	.tosswon
	{
		float:right;
		position:relative;
	}
	.table1
	{
		margin-top:5px;
		max-width:40.1%;
		border:1px solid black;
		height:40%;
		position:relative;
	}
	.uniform
	{
		margin-top:-3%;
		position:relative;
		float:right;
	}
	.ts
	{
		margin-top:100px;
		float:right;
		position:relative;
	}
	.tf
	{
		margin-top:2%;
		margin-left:100px;
		position:relative;
	}
	.won
	{
		max-width:100%;
		border:1px solid black;
		padding:2px;
		-moz-tab-size:4;
		-o-tab-size:4;
		tab-size:4;
		text-indent:1%;
		
	}
	.golden
	{
		max-width:100%;
		padding:2px;	
		margin-left:30%;
		margin-top:-1.8%;
		position:relative;
	}
	.goldTable
	{
		position:relative;
		margin-top:-2.3%;
		margin-left:13%;
	}
	.warn
	{
		max-width:100%;
		padding:2px;	
		margin-left:70%;
		margin-top:-1.9%;
		position:relative;
	}
	.warnTable
	{
		position:relative;
		margin-top:-6.0%;
		margin-left:25%;
	}
	.wonby
    {
    	text-align:center;	
    }
    .score
    {
    	position:relative;
    	margin-right:5%;
    	float:right;
    	margin-top:-28.2%;
    }
    .wicket
    {
    	position:relative;
    	margin-right:5%;
    	float:right;
    	margin-top:-12.7%;
    	font-size:13px;
    }
	table
	{
		border-collapse:collapse;
		max-width:60.3%;
		height:auto;
	}
	html, body 
	{
   		max-width:100%;
   		height:auto;
    	margin: 0;
    	border-radius:1px;
    }
}
